/*
selecteur(s) {
    propriété : valeur;
    propriété : valeur;
    propriete : valeur;
    }
*/

h1{
background : rgb(238, 238, 238); 
color:rgb(220, 246, 250);
font-size: xx-large;
font-family :Arial, Helvetica, sans-serif
}
